%section.sidebar.green-border
  %ul#sidebar
    %li= link_to "О компании", page_path(:about), :nav_item => :about
    %li= link_to "Оплата и доставка", page_path(:terms), :nav_item => :terms
    %li= link_to "Гарантия", page_path(:warranty), :nav_item => :warranty