- active_nav_item :about
- @page_title = 'Frequently asked questions'
.content
  .row
    .col-md-3
      -# Sidebar
      - if content_for?(:sidebar)
        = yield :sidebar
      - else
        = render 'shared/page_sidebar'
    .col-md-9
      %h2 О компании
      %p Компания «Вегас» на протяжении многих лет предлагает своим покупателям продукт, в котором воплотились самые яркие мечты об исключительном отдыхе. Внимание к традициям и ультрасовременные технологии позволяют компании производить матрасы высочайшего качества. Обладая великолепными ортопедическими свойствами, они дарят вам глубокий, спокойный сон и быстро восстанавливают силы.

      %p За долгий срок своего существования компания «Вегас» прошла славный путь от небольшого производства, использующего только ручной труд, до крупного промышленного предприятия, располагающего самым современным оборудованием. Из локальной марки Vegas превратилась в сильный бренд международного значения, хорошо известный как клиентам из стран бывшего СССР, так и ценителям комфортного отдыха из стран Восточной и Центральной Европы.

      %p Коллекции матрасов Vegas призваны в мельчайших нюансах соответствовать вашему стилю жизни — каким бы он ни был. Вы можете следовать четкому распорядку дня и вставать в 6 утра по звонку будильника. А может быть, не упускаете возможности поваляться в постели столько, сколько захочется. Перед тем, как погрузиться в сон, вы совершаете целый ритуал. Или мгновенно засыпаете, едва коснувшись уютной поверхности матраса. Может быть, закрывая глаза, вы мечтаете о солнечном утре. Или предвкушаете очередное невероятное приключение, которое ожидает вас во сне. Мы знаем одно — вы тоже верите в то, что жизнь может быть яркой не только при свете солнца!
