- active_nav_item :about
- @page_title = 'О компании'
.content
  .row
    .col-md-3
      -# Sidebar
      - if content_for?(:sidebar)
        = yield :sidebar
      - else
        = render 'shared/page_sidebar'
    .col-md-9
      %h2 О компании
      %p Компания «Вегас» на протяжении многих лет предлагает своим покупателям продукт, в котором воплотились самые яркие мечты об исключительном отдыхе. Внимание к традициям и ультрасовременные технологии позволяют компании производить матрасы высочайшего качества. Обладая великолепными ортопедическими свойствами, они дарят вам глубокий, спокойный сон и быстро восстанавливают силы.

      %p За долгий срок своего существования компания «Вегас» прошла славный путь от небольшого производства, использующего только ручной труд, до крупного промышленного предприятия, располагающего самым современным оборудованием. Из локальной марки Vegas превратилась в сильный бренд международного значения, хорошо известный как клиентам из стран бывшего СССР, так и ценителям комфортного отдыха из стран Восточной и Центральной Европы.

      %p Коллекции матрасов Vegas призваны в мельчайших нюансах соответствовать вашему стилю жизни — каким бы он ни был. Вы можете следовать четкому распорядку дня и вставать в 6 утра по звонку будильника. А может быть, не упускаете возможности поваляться в постели столько, сколько захочется. Перед тем, как погрузиться в сон, вы совершаете целый ритуал. Или мгновенно засыпаете, едва коснувшись уютной поверхности матраса. Может быть, закрывая глаза, вы мечтаете о солнечном утре. Или предвкушаете очередное невероятное приключение, которое ожидает вас во сне. Мы знаем одно — вы тоже верите в то, что жизнь может быть яркой не только при свете солнца!

      %h3 Старт
      %p Коллекции матрасов Vegas призваны в мельчайших нюансах соответствовать вашему стилю жизни — каким бы он ни был. Вы можете следовать четкому распорядку дня и вставать в 6 утра по звонку будильника. А может быть, не упускаете возможности поваляться в постели столько, сколько захочется. Перед тем, как погрузиться в сон, вы совершаете целый ритуал. Или мгновенно засыпаете, едва коснувшись уютной поверхности матраса. Может быть, закрывая глаза, вы мечтаете о солнечном утре. Или предвкушаете очередное невероятное приключение, которое ожидает вас во сне. Мы знаем одно — вы тоже верите в то, что жизнь может быть яркой не только при свете солнца!

      %h3 Наши преимущества
      %ul.reasons.about
        %li.support
          %h4 Европейские материалы
          %p Блоки независимых пружин лежат в основе наиболее технически совершенных современных матрасов. В таком блоке каждая пружина заключена в собственный тканевой чехол.
        %li.quality
          %h4 Сертификаты качества
          %p Немецкая компания AGRO существует уже более 60 лет и является европейским лидером в производстве пружин дял матрасов.
        %li.garanty
          %h4 Гарантия 20 лет
          %p Блоки TFK (от нем. Taschenfederkern – «блок независимых пружин») воплощают в себе все достоинства современных пружинных блоков.
        %li.dimensions    
          %h4 Нестандартные размеры
          %p Блоки серии Multipocket отличаются от более дешевых вариантов высокими показателями точечной эластичности.
        %li.delivery    
          %h4 Бесплатная доставка
          %p Блоки серии Multipocket отличаются от более дешевых вариантов высокими показателями точечной эластичности.

      %h3 Карта проезда
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sWp14Oy4F2AniEMG3vT_ZLAb8Ft_5xrR&amp;width=100%&amp;height=427&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>


      