- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'

.home
  %p.browse.arrow-r= link_to "Перейти в каталог", catalogue_path
  %h2 Выбор покупателей

= render 'shared/product_list', :products => @products
