/*vars*/

$font: 'PT Sans', Arial, Verdana, sans-serif;
$green: #059A5E;
$purple: #B068E2;
$purple-dark: #56088B;
$magento: #fa4771;
$magento-dark: #CB0869;
$blue: #339ECE;
$gray: #dedede;
$gray-darky: #85858a;
$gray-light: #e3e3e3;
$gray-lighter: #F7F7F7;
$radius: 4px;
$background: #BABABD;
$yellow: #F1C700;

$slider-height: 340px;

$enable-flex: true;