/*vars*/

$font: Lato,
Arial,
sans-serif;
$green: #059A5E;
$purple: #B068E2;
$purple-dark: #56088B;
$magento: #fa4771;
$magento-dark: #CB0869;
$blue: #339ECE;
$gray: #dedede;
$gray-light: #e3e3e3;
$gray-lighter: #F7F7F7;
$radius: 4px;
$slider-height: 340px;
$background: #BABABD;
$yellow: #F1C700;

$enable-flex: true;