@import "variables";
// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";
@import 'bootstrap-custom';
@import 'fonts';
@import "sliders";
@import "products";
@import "footer";
@import 'reset';
html {
    font-size: 100%;
    background: #fff;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background: $background;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
}

a {
    color: $blue;
    font-size: 105%;
    line-height: 1.5rem;
}

a:focus,
a:hover {
    text-decoration: none;
}

p {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

p+p:last-child {
    margin-bottom: 1rem;
}

img[src='Error.src'] {
    display: none;
}

p.info {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #444;
}

nav.sidebar header.logo h1 a {
    background: none !important;
}

select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

//
// The inner container for the page
//
div.container {
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    box-shadow: 0 15px 20px 1px #888888;
    &.first {
        box-shadow: 0 10px 20px 0 #888888;
        padding-bottom: 0;
    }
    &.last {
        padding: 12px 25px 25px;
        box-shadow: 0 15px 20px -13px #888888;
        position: relative;
    }
}

div.field_with_error {
    display: inline;
}

div.white-off {
    background: #F6F5F6;
}

//
// Flash messages
//
div#flash-notice {
    background: #33a174;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

div#flash-alert {
    background: $purple-dark;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
}

//
// Primary header
//
header.main {
    font-size: 0.9rem;
    .head {
        padding-bottom: 26px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        color: $green;
        flex-direction: column;
        height: 175px;
        @media (min-width: 768px) {
            flex-direction: row;
            height: auto;
        }
        .phone_icon {
            margin: 5px 10px 5px 0;
            height: 45px;
            width: 28px;
        }
        .headcontacts {
            flex-direction: row;
            display: flex;
            font-weight: 600;
        }
        .call {
            font-size: 28px;
            line-height: 1.7rem;
        }
        .search {
            width: 25%;
        }
    }
    .logo {
        width: 208px;
        height: 44px;
        background: image-url('logo.png') left center no-repeat;
        margin-right: 20px;
        a {
            display: block;
            width: inherit;
            height: inherit;
        }
    }
}

//
// Navigation
//
nav.main {
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        li {
            margin-right: 10px;
        }
        li a {
            color: #444;
            display: block;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            font-weight: 600;
        }
        li a:hover,
        li a:active {
            color: $magento;
            text-decoration: none;
        }
        li a.instock {
            color: $magento;
            text-decoration: none;
        }
        li a.noborder:hover {
            border-color: transparent
        }
        ul {
            position: absolute;
            z-index: 2;
            margin-left: -10px;
            display: none;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            margin-top: 0px;
            li {
                float: none;
                margin-right: 0;
                background: rgba(255, 255, 255, 0.99);
                a {
                    color: #222;
                    padding: 0;
                    padding: 10px;
                    width: 200px;
                    border: 0;
                }
                a:hover,
                a:active {
                    color: $magento;
                    text-decoration: none;
                }
            }
        }
        li:hover ul {
            display: block;
        }
    }
}

// Introduction
section.intro {}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    height: 370px;
    max-height: 370px;
    padding: 15px;
    margin-bottom: 10px;
    @media (min-width: 992px) {
        margin: 0;
    }
    & h2 {
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        color: $purple-dark;
        .slidermargin-bottom: 0;
    }
}


/**/

ul.reasons {
    display: flex;
    flex-wrap: wrap;
    border-radius: $border-radius;
    justify-content: space-between;
    background: $green;
    margin: 1.875rem 0 0;
    color: #fff;
    padding: 15px 0;
    li+li:before {
        height: 100%;
        width: 1px;
        display: block;
        background: #36AB69;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    li {
        width: 20%;
        position: relative;
        padding: 60px 0 0 0;
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center top;
        h4 {
            margin: 0 auto;
            font-size: 0.6rem;
            width: 95%;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            @media(min-width: 768px) {
                font-size: 1rem;
                width: 75%;
            }
        }
        p {
            font-size: 0.85rem;
            line-height: 1.6;
        }
        &:last-child {
            margin-bottom: 0;
            border-right: none;
        }
        &.support {
            background-image: image-url('icon1.svg')
        }
        &.quality {
            background-image: image-url('icon2.svg')
        }
        &.garanty {
            background-image: image-url('icon3.svg')
        }
        &.dimensions {
            background-image: image-url('icon4.svg')
        }
        &.delivery {
            background-image: image-url('icon5.svg')
        }
    }
}

//tab-contents
ul.reasons.about {
    display: block;
    list-style: none;
    overflow: hidden;
    background: none;
    color: #373a3c;
    margin: 0 0 1rem;
    padding: 0;
    li {
        display: flex;
        align-items: center;
        width: auto;
        padding: 20px 0;
        background-position: left center;
        h4 {
            color: $green;
            width: 195px;
            margin: 0 20px 0 60px;
            text-align: left;
        }
        p {
            font-size: 0.85rem;
            line-height: 1.6;
        }
    }
    li+li:before {
        display: none;
    }
    li:after {
        background: none;
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid #dedede;
        width: 100%;
        content: '';
    }
    li>p {
        font-weight: 500;
        width: 68%;
        margin-bottom: 0;
    }
    li>p+p {
        margin: 0;
        font-weight: 500;
    }
}

// Offer/contact bar
.bar {
    background: rgba(28, 109, 117, 0.6);
    padding: 14px 0;
    overflow: hidden;
    p {
        background-repeat: no-repeat;
        background-position: 0 1px;
        background-size: 16px;
        padding-left: 22px;
    }
    p.call {
        float: left;
        background-image: image-url('call.svg')
    }
    p.offer {
        float: right;
        background-image: image-url('tags.svg')
    }
}

//
// The basic header
//
.arrow-r {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline !important;
    position: relative;
}

// Helpers //
.arrow-r:after {
    float: right;
    margin: -2px 0 0 7px;
    width: 19px;
    content: '';
    height: 1.5rem;
    background: image-url('right.png') transparent no-repeat 95% 5px;
}

.inline-flex {
    display: inline-flex;
}

//
// Primary content area
//
section.primary {
    // width:70%;
    // padding-top:40px;
    //
    // Homepage
    //
    .home {
        p.browse {
            float: right;
            margin-top: 5px;
        }
        p.browse a {
            text-decoration: underline;
            font-weight: bold;
        }
        h2 {
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
            font-size: 2rem;
        }
    }
}

//
// Standard content page
//
.content a {
    p {
        line-height: 1.5;
    }
    ul,
    ol {
        margin: 25px 0;
        line-height: 1.8;
        margin-left: 45px;
    }
    ul li {
        list-style: square;
    }
}

//
// category page
//
div.category {
    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        font-family: Open Sans, Arial;
    }
    p.intro {
        font-size: 14px;
        color: #000000;
        text-align: left;
        line-height: 18px;
        margin-top: 5px;
    }
    p.noProducts {
        margin: 50px 0;
        text-align: center;
        color: #999;
    }
}

img.categories-banner {
    width: 100%;
}

//
// order status page
//
div.status {
    h2 {
        font-size: 2.0rem;
        color: #216d74;
    }
    p.intro {
        margin: 15px 0;
        line-height: 1.8;
    }
    .details {
        overflow: hidden;
        font-size: 0.9rem;
        .left {
            width: 55%;
            float: left
        }
        .right {
            width: 45%;
            float: left;
            p.acceptreject {
                text-align: center;
                margin-top: 22px;
            }
            p.acceptreject a {
                margin: 0 5px;
            }
            p.ship {
                text-align: center;
                margin-top: 22px;
            }
            p.ship input[type=text] {
                padding: 5px;
                width: 200px;
            }
        }
        dl {
            dt {
                float: left;
                width: 30%;
                text-align: right;
                color: #888;
                white-space: nowrap
            }
            dd {
                font-weight: bold;
                margin-left: 35%;
                margin-bottom: 6px;
                white-space: nowrap
            }
        }
    }
    .status-bar {
        background: image-url('shopr/square.svg') repeat-x 0 15px;
        background-size: 8px;
        margin: 45px 0;
        overflow: hidden;
        font-size: 0.8rem;
        ul {
            li {
                width: 25%;
                float: left;
                text-align: center;
                background: image-url('shopr/statuses/shipped.svg') no-repeat center 0;
                background-size: 36px;
                padding-top: 42px;
                z-index: 10;
            }
            h4 {
                color: #E32479;
            }
            li p {
                margin-top: 5px;
                font-size: 0.85rem;
                color: #999;
            }
            li a {
                color: inherit;
            }
            li.payment {
                background-image: image-url('shopr/statuses/paid.svg')
            }
            li.payment h4 {
                color: #3DB3E2;
            }
            li.received {
                background-image: image-url('shopr/statuses/received.svg')
            }
            li.received h4 {
                color: #909091;
            }
            li.accepted {
                background-image: image-url('shopr/statuses/accepted.svg')
            }
            li.accepted h4 {
                color: #89BD2F;
            }
            li.rejected {
                background-image: image-url('shopr/statuses/rejected.svg')
            }
            li.rejected h4 {
                color: #E33127
            }
        }
    }
}

//
// categories list
//
div.categories {
    ul {
        margin: 30px 0;
        overflow: hidden;
        li {
            overflow: hidden;
            float: left;
            width: 50%;
            margin-bottom: 15px;
            div.img {
                width: 120px;
                height: 120px;
                float: left;
                background-size: contain;
                background-position: center top;
                background-repeat: no-repeat;
            }
            div.space {
                h4 {
                    font-size: 1.3rem;
                    color: #333;
                }
                h4 a {
                    text-decoration: none;
                }
                h4 a:hover {
                    text-decoration: underline;
                }
                p {
                    line-height: 1.7;
                    font-size: 0.9rem;
                    margin-top: 10px;
                }
                margin-left:150px;
            }
        }
    }
}

//
// checkout page
//
div.checkout {
    p.secure {
        float: right;
        margin-top: 10px;
        color: #ee9200;
        background: image-url('secure.svg') no-repeat 0 1px;
        background-size: 12px;
        padding-left: 18px;
        font-size: 0.8rem;
    }
    h2 {
        font-size: 2.0rem;
        color: #216d74;
    }
    p.intro {
        margin: 15px 0;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    table.orderItems {
        margin-top: 0;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
    }
    .errorExplanation {
        h2 {
            display: none;
        }
        p {
            display: none;
        }
        line-height:1.8;
        color:#E53C00;
        ul {
            overflow: hidden;
            margin: 25px 0;
        }
        ul li {
            float: left;
            width: 33%;
        }
    }
    p.submit {
        text-align: right;
        margin-top: 30px;
        input {
            background: image-url('card.svg') #226E75 no-repeat 22px 9px;
            background-size: 20px;
            border: 0;
            padding: 8px 22px 8px 54px;
            color: #fff;
            font-size: 1.1rem;
            font-family: $font;
            font-weight: bold;
            border-radius: 4px;
            &.review {
                background-image: image-url('next.svg')
            }
            &.order {
                background-image: image-url('send.svg')
            }
            &.disabled {
                background: image-url('button-spinner.gif') #ccc no-repeat;
                background-size: 16px;
                background-position: center;
                color: transparent;
            }
        }
    }
    div.customer {
        font-size: 0.8rem;
        overflow: hidden;
        fieldset {
            width: 50%;
            float: left;
            legend {
                font-size: 1.2rem;
                font-weight: bold;
            }
            dl.delivery {
                display: none;
            }
            dt {
                color: #888;
                margin-top: 0px;
            }
            dt label.req:after {
                content: '*';
                color: red;
                margin-left: 5px;
            }
            dd {
                margin: 10px 0;
                input[type=text] {
                    font-size: 1.3rem;
                    font-family: $font;
                    padding: 5px;
                    font-size: 1.2rem;
                    width: 96%;
                    border: 1px solid #ccc;
                    background: #f8f8f8;
                    border-radius: 4px;
                }
                input[type=text]:focus {
                    border-color: #777;
                    background: #fff;
                }
                input[type=checkbox] {
                    float: left;
                    margin-right: 8px;
                    margin-top: 2px;
                }
                &.name input {
                    width: 45%;
                }
                &.name input:first-child {
                    margin-right: 7px;
                }
                input.postcode {
                    width: 30%;
                }
                select {
                    -webkit-appearance: none;
                    background: image-url('down-arrow-black.svg') #f8f8f8 no-repeat 97% 12px;
                    width: 100%;
                    font-size: 1.2rem;
                    background-size: 11px;
                    border: 0;
                    padding: 5px;
                    font-family: $font;
                    margin-right: 6px;
                    border: 1px solid #ccc;
                    color: #333;
                    &:focus {
                        border: 1px solid #777;
                        background-color: #fff;
                    }
                }
            }
        }
        fieldset:last-child {
            width: 45%;
            float: left;
            margin-left: 5%;
        }
    }
    fieldset.payment {
        border: 1px solid #ccc;
        font-size: 0.9rem;
        h3 {
            font-size: 0.9rem;
            color: #333;
            background: #FFFEED;
            padding: 15px;
            border-bottom: 1px solid #ecebd3;
            margin-bottom: 0;
        }
        p.error {
            background: image-url('error.svg') #fff5f5 no-repeat 15px 15px;
            background-size: 16px;
            border-bottom: 1px solid #EFCECE;
            padding: 15px 40px;
            color: #dd2828;
            margin: 0;
        }
        dl {
            margin: 30px 0;
            dt {
                width: 30%;
                text-align: right;
                float: left;
                padding-top: 8px;
                font-weight: bold;
            }
            dd {
                margin-left: 35%;
                margin-bottom: 25px;
                input {
                    width: 300px;
                    font-family: $font;
                    padding: 5px;
                    font-size: 1.3rem;
                    border: 1px solid #ccc;
                    background: #f8f8f8;
                    border-radius: 4px;
                }
                input:focus {
                    border-color: #777;
                    background: #fff;
                }
                &.cvc input {
                    width: 70px;
                }
                &.number input {
                    background-repeat: no-repeat;
                    background-position: 95% 10px;
                    background-size: 30px;
                }
                span {
                    color: #999;
                    font-size: 0.9rem;
                    margin-left: 15px;
                }
                select {
                    -webkit-appearance: none;
                    background: image-url('down-arrow-black.svg') #efefef no-repeat 39px 15px;
                    width: 60px;
                    font-size: 1.3rem;
                    background-size: 11px;
                    border: 0;
                    padding: 6px 10px;
                    font-family: $font;
                    margin-right: 6px;
                    border: 1px solid #ccc;
                    color: #333;
                    &:focus {
                        border: 1px solid #777;
                        background-color: #fff;
                    }
                    &.year {
                        width: 85px;
                        background-position: 60px 15px;
                    }
                }
            }
        }
    }
}

//
// order items
//
table.orderItems {
    width: 100%;
    font-size: 0.8rem;
    margin: 25px 0;
    thead td {
        border: 0;
        color: #999;
        padding: 0 10px;
        padding-bottom: 6px;
    }
    th,
    td {
        border: 1px solid #ccc;
        padding: 10px;
    }
    td.money {
        text-align: right;
        width: 12%;
        font-weight: normal;
    }
    td.quantity {
        width: 15%;
        span {
            float: right;
        }
        a {
            opacity: 0.3;
            width: 16px;
            height: 16px;
            display: inline-block;
            text-indent: -40000px;
            background: image-url('up.svg');
            background-size: 16px;
        }
        a:last-child {
            background: image-url('down.svg');
        }
        a:hover {
            opacity: 1
        }
    }
    td.product {
        a.delete {
            float: right;
            opacity: 0.3;
            width: 16px;
            height: 16px;
            display: inline-block;
            text-indent: -40000px;
            background: image-url('close.svg');
            background-size: 16px;
        }
        a.delete:hover {
            opacity: 1
        }
    }
    tfoot td {
        text-align: right;
        font-weight: bold;
    }
}

// Specials
.specials {
    box-shadow: 1px 2px 6px 0px #888888;
    margin-bottom: 0.9375rem;
    padding: 0.9375rem;
    height: 215px;
    position: relative;
    &:hover {
        background: $gray-lighter;
    }
    img {
        position: absolute;
        right: 0;
        top: 0;
    }
    span {
        font-size: 0.85rem;
    }
    p.info {
        height: 80px;
        width: 55%;
    }
    span,
    h3 {
        color: $blue;
    }
    div.price {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0 -0.9375rem;
    }
    &.green {
        span,
        h3 {
            color: $green;
        }
        p.price {
            background: $green;
        }
    }
    &.purple {
        span,
        h3 {
            color: $purple-dark;
        }
        p.price {
            background: $purple-dark;
        }
    }
    p.price {
        padding: 10px 20px;
        width: 50%;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        background: $blue;
        margin: 0;
        &.new {
            z-index: 0;
            color: $magento;
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

// Helpers
//
.green-border {
    box-shadow: 0px 0px 0px 4px $green inset;
    border-radius: $border-radius;
    padding: 3px;
}

// Sidebar
//
section.sidebar {
    ul#sidebar {
        padding: 15px 25px;
        margin: 1px;
        background-color: #fff;
        position: relative;
    }
    ul#sidebar li {
        list-style: none;
        a {
            font-weight: 600;
            line-height: 2rem;
            color: black;
        }
        a.active,
        a:hover {
            color: $purple-dark;
        }
        a.active:after,
        a:hover:after {
            position: absolute;
            right: 25px;
            content: '❯';
        }
    }
    ul.sidebar-categories {
        li+li:before {
            content: '';
            height: 1px;
            background: $gray;
            display: block;
        }
    }
    ul#sidebar-params {
        padding: 30px 25px;
        border-top: 1px solid $gray;
        margin: 0 1px;
        a {
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;
            color: #000000;
            text-align: left;
            line-height: 16px;
        }
        span {
            font-size: 13px;
            font-weight: bold;
            color: #00995b;
            text-align: left;
            line-height: 16px;
        }
        ul {
            margin-bottom: 15px;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: bold;
        color: #00995b;
        text-transform: uppercase;
    }
    h4 {
        font-size: 14px;
        color: #090909;
        font-weight: bold;
        text-transform: uppercase;
    }
    div.basket {
        background: image-url('bag.svg') #DFF0F1 no-repeat 18px 18px;
        background-size: 14px;
        color: #216D74;
        font-size: 0.8rem;
        line-height: 1.6;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 25px;
        padding: 15px;
        padding-left: 50px;
        p.buttons {
            margin-top: 15px;
            a {
                display: inline-block;
                padding: 2px 7px;
                background: #226E75;
                color: #fff;
                text-decoration: none;
                border-radius: 4px;
                margin-right: 4px;
                &.checkout {
                    background: #333;
                }
            }
        }
    }
    .checkout {
        background: #efefef;
        padding: 15px 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
            font-size: 1.4rem;
            color: #216D74;
            margin-top: 25px;
        }
        dl {
            font-size: 0.8rem;
            margin: 30px 0;
            line-height: 1.5;
            dt {
                font-weight: bold;
                margin: 10px 0;
            }
            dd {
                margin-bottom: 30px;
            }
        }
    }
}

div.overlay {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 4000px;
    background: rgba(0, 0, 0, 0.3);
}

nav.sidebar header.logo h1 a {
    background: none;
}

// Kaminari pagination
nav.pagination {
    justify-content: flex-end;
    display: flex;
}

nav.pagination span {
    height: 32px;
    width: 32px;
    text-align: center;
    background: white;
    border: 1px solid $gray;
    margin-right: 4px;
    &.page.current {
        color: white;
        background: $green;
        padding: 3px 8px;
    }
    &.gap {
        border: none;
        color: $gray-darky;
    }
    &.first,
    &.last,
    &.prev,
    &.next {
        letter-spacing: -6px;
        & a {
            color: $gray;
            padding: 1px 8px;
        }
    }
    & a {
        padding: 3px 8px;
        display: inline-block;
        text-decoration: none;
        color: $gray-dark;
    }
}