@import "variables";
// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";
@import 'bootstrap-custom';
@import 'reset';
@import 'fonts';
html {
    font-size: 100%;
    background: #fff;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background: $background;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
}

a {
    color: $blue;
    line-height: 1.5rem;
}

a:focus, a:hover {
    text-decoration: none;
}

p {
    font-size: 14px;
}

img[src='Error.src']{
    display: none;
}

p.info {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #444;
}

nav.sidebar header.logo h1 a {
    background: none !important;
}

select {
    background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 2px;
}

//
// The inner container for the page
//
div.container {
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    box-shadow: 0 15px 20px -13px #888888;
    &.first {
        box-shadow: 0 10px 20px 0 #888888;
        padding-bottom: 0;
    }
    &.last {
        padding: 12px 25px 25px;
        position: relative;
        z-index: 2;
    }
}

div.field_with_error {
    display: inline;
}

div.white-off {
    background: #F6F5F6;
}

//
// Flash messages
//
div#flash-notice {
    background: #33a174;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

div#flash-alert {
    background: $purple-dark;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
}

//
// Primary header
//
header.main {
    font-size: 0.9rem;
    .head {
        padding-bottom: 26px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        color: $green;
        .phone_icon {
            margin: 5px 10px;
            height: 45px;
            width: 28px;
        }
        .headcontacts {
            flex-direction: row;
            display: flex;
            font-weight: 600;
        }
        .call {
            font-size: 28px;
            line-height: 2rem;
            padding-bottom: 3px;
        }
        .search {
            width: 30%;
        }
    }
    .logo {
        width: 208px;
        height: 44px;
        background: image-url('logo.png') left center no-repeat;
        a {
            display: block;
            width: inherit;
            height: inherit;
        }
    }
}

//
// Navigation
//
nav.main {
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        li {
            margin-right: 10px;
        }
        li a {
            color: #444;
            display: block;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            font-weight: 600;
        }
        li a:hover,
        li a:active {
            color: #FA4771;
            text-decoration: none;
        }
        li a.instock {
            color: #FA4771;
            text-decoration: none;
        }
        li a.noborder:hover {
            border-color: transparent
        }
        ul {
            position: absolute;
            margin-left: -10px;
            display: none;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            margin-top: 0px;
            li {
                float: none;
                margin-right: 0;
                background: rgba(255, 255, 255, 0.9);
                a {
                    color: #222;
                    padding: 0;
                    padding: 10px;
                    width: 200px;
                    border: 0;
                }
                a:hover,
                a:active {
                    color: #47A4AD;
                    text-decoration: none;
                }
                &:first-child {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
                &:last-child {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
        li:hover ul {
            display: block;
        }
    }
}

// Introduction
section.intro {}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    height: 370px;
    max-height: 370px;
    padding: 15px;
    & h2 {
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        color: $purple-dark;
        .slidermargin-bottom: 0;
    }
}

// Slider 2
.slider {
    height: 370px;
    overflow: hidden;
    background: $purple-dark 50% 50%;
    position: relative;
    input {
        display: none;
    }
    > ul {
        height: $slider-height;
        overflow: hidden;
    }
}

.slide * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slide-container {
    height: $slider-height;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 0;
    animation: 40s slidy infinite;
}

.slide {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0);
    transition: all .7s ease-in-out;
    & .slide-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        color: #fff;
    }
    & h2 {
        font-size: 5rem;
        font-weight: bold;
    }
    & img {
        height: $slider-height;
        width: auto;
    }
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

figcaption.controls {
    height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
    line-height: 2rem;
    label {
        margin-right: 15px;
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    @media screen and (max-width: 500px) {
        font-size: 1.2rem;
    }
}


/**/

ul.reasons {
    display: flex;
    flex-wrap: wrap;
    border-radius: $border-radius;
    justify-content: space-between;
    background: $green;
    margin: 1.875rem 0 0;
    color: #fff;
    padding: 15px 0;
    li + li:before {
        height: 100%;
        width: 1px;
        display: block;
        background: #36AB69;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    li {
        width: 20%;
        position: relative;
        padding: 60px 0 0 0;
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center top;
        h4 {
            margin: 0 auto;
            width: 75%;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            font-size: 0.85rem;
            line-height: 1.6;
        }
        &:last-child {
            margin-bottom: 0;
            border-right: none;
        }
        &.support {
            background-image: image-url('icon1.svg')
        }
        &.quality {
            background-image: image-url('icon2.svg')
        }
        &.garanty {
            background-image: image-url('icon3.svg')
        }
        &.dimensions {
            background-image: image-url('icon4.svg')
        }
        &.delivery {
            background-image: image-url('icon5.svg')
        }
    }
}

// Offer/contact bar
.bar {
    background: rgba(28, 109, 117, 0.6);
    padding: 14px 0;
    overflow: hidden;
    p {
        background-repeat: no-repeat;
        background-position: 0 1px;
        background-size: 16px;
        padding-left: 22px;
    }
    p.call {
        float: left;
        background-image: image-url('call.svg')
    }
    p.offer {
        float: right;
        background-image: image-url('tags.svg')
    }
}

//
// The basic header
//

.arrow-r {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline !important;
    position: relative;
}

// Helpers //
.arrow-r:after {
    float: right;
    margin: -2px 0 0 7px;
    width: 19px;
    content: '';
    height: 1.5rem;
    background: image-url('right.png') transparent no-repeat 95% 5px;
}

.inline-flex {
    display: inline-flex;
}

//
// Primary content area
//
section.primary {
    // width:70%;
    // padding-top:40px;
    //
    // Homepage
    //
    .home {
        p.browse {
            float: right;
            margin-top: 5px;
        }
        p.browse a {
            text-decoration: underline;
            font-weight: bold;
        }
        h2 {
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
            font-size: 2rem;
        }
    }
}

//
// Standard content page
//
.content a {
    p {
        line-height: 1.5;
    }
    ul,
    ol {
        margin: 25px 0;
        line-height: 1.8;
        margin-left: 45px;
    }
    ul li {
        list-style: square;
    }
}

//
// category page
//
div.category {
    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        font-family: Open Sans, Arial;
    }
    p.intro {
        font-size: 14px;
        color: #000000;
        text-align: left;
        line-height: 18px;
        margin-top: 5px;
    }
    p.noProducts {
        margin-top: 130px;
        text-align: center;
        color: #999;
    }
}

img.categories-banner {
    width: 100%;
}

//
// order status page
//
div.status {
    h2 {
        font-size: 2.0rem;
        color: #216d74;
    }
    p.intro {
        margin: 15px 0;
        line-height: 1.8;
    }
    .details {
        overflow: hidden;
        font-size: 0.9rem;
        .left {
            width: 55%;
            float: left
        }
        .right {
            width: 45%;
            float: left;
            p.acceptreject {
                text-align: center;
                margin-top: 22px;
            }
            p.acceptreject a {
                margin: 0 5px;
            }
            p.ship {
                text-align: center;
                margin-top: 22px;
            }
            p.ship input[type=text] {
                padding: 5px;
                width: 200px;
            }
        }
        dl {
            dt {
                float: left;
                width: 30%;
                text-align: right;
                color: #888;
                white-space: nowrap
            }
            dd {
                font-weight: bold;
                margin-left: 35%;
                margin-bottom: 6px;
                white-space: nowrap
            }
        }
    }
    .status-bar {
        background: image-url('shoppe/square.svg') repeat-x 0 15px;
        background-size: 8px;
        margin: 45px 0;
        overflow: hidden;
        font-size: 0.8rem;
        ul {
            li {
                width: 25%;
                float: left;
                text-align: center;
                background: image-url('shoppe/statuses/shipped.svg') no-repeat center 0;
                background-size: 36px;
                padding-top: 42px;
                z-index: 10;
            }
            h4 {
                color: #E32479;
            }
            li p {
                margin-top: 5px;
                font-size: 0.85rem;
                color: #999;
            }
            li a {
                color: inherit;
            }
            li.payment {
                background-image: image-url('shoppe/statuses/paid.svg')
            }
            li.payment h4 {
                color: #3DB3E2;
            }
            li.received {
                background-image: image-url('shoppe/statuses/received.svg')
            }
            li.received h4 {
                color: #909091;
            }
            li.accepted {
                background-image: image-url('shoppe/statuses/accepted.svg')
            }
            li.accepted h4 {
                color: #89BD2F;
            }
            li.rejected {
                background-image: image-url('shoppe/statuses/rejected.svg')
            }
            li.rejected h4 {
                color: #E33127
            }
        }
    }
}

//
// categories list
//
div.categories {
    ul {
        margin: 30px 0;
        overflow: hidden;
        li {
            overflow: hidden;
            float: left;
            width: 50%;
            margin-bottom: 15px;
            div.img {
                width: 120px;
                height: 120px;
                float: left;
                background-size: contain;
                background-position: center top;
                background-repeat: no-repeat;
            }
            div.space {
                h4 {
                    font-size: 1.3rem;
                    color: #333;
                }
                h4 a {
                    text-decoration: none;
                }
                h4 a:hover {
                    text-decoration: underline;
                }
                p {
                    line-height: 1.7;
                    font-size: 0.9rem;
                    margin-top: 10px;
                }
                margin-left:150px;
            }
        }
    }
}

//
// checkout page
//
div.checkout {
    p.secure {
        float: right;
        margin-top: 10px;
        color: #ee9200;
        background: image-url('secure.svg') no-repeat 0 1px;
        background-size: 12px;
        padding-left: 18px;
        font-size: 0.8rem;
    }
    h2 {
        font-size: 2.0rem;
        color: #216d74;
    }
    p.intro {
        margin: 15px 0;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    table.orderItems {
        margin-top: 0;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
    }
    .errorExplanation {
        h2 {
            display: none;
        }
        p {
            display: none;
        }
        line-height:1.8;
        color:#E53C00;
        ul {
            overflow: hidden;
            margin: 25px 0;
        }
        ul li {
            float: left;
            width: 33%;
        }
    }
    p.submit {
        text-align: right;
        margin-top: 30px;
        input {
            background: image-url('card.svg') #226E75 no-repeat 22px 9px;
            background-size: 20px;
            border: 0;
            padding: 8px 22px 8px 54px;
            color: #fff;
            font-size: 1.1rem;
            font-family: $font;
            font-weight: bold;
            border-radius: 4px;
            &.review {
                background-image: image-url('next.svg')
            }
            &.order {
                background-image: image-url('send.svg')
            }
            &.disabled {
                background: image-url('button-spinner.gif') #ccc no-repeat;
                background-size: 16px;
                background-position: center;
                color: transparent;
            }
        }
    }
    div.customer {
        font-size: 0.8rem;
        overflow: hidden;
        fieldset {
            width: 50%;
            float: left;
            legend {
                font-size: 1.2rem;
                font-weight: bold;
            }
            dl.delivery {
                display: none;
            }
            dt {
                color: #888;
                margin-top: 0px;
            }
            dt label.req:after {
                content: '*';
                color: red;
                margin-left: 5px;
            }
            dd {
                margin: 10px 0;
                input[type=text] {
                    font-size: 1.3rem;
                    font-family: $font;
                    padding: 5px;
                    font-size: 1.2rem;
                    width: 96%;
                    border: 1px solid #ccc;
                    background: #f8f8f8;
                    border-radius: 4px;
                }
                input[type=text]:focus {
                    border-color: #777;
                    background: #fff;
                }
                input[type=checkbox] {
                    float: left;
                    margin-right: 8px;
                    margin-top: 2px;
                }
                &.name input {
                    width: 45%;
                }
                &.name input:first-child {
                    margin-right: 7px;
                }
                input.postcode {
                    width: 30%;
                }
                select {
                    -webkit-appearance: none;
                    background: image-url('down-arrow-black.svg') #f8f8f8 no-repeat 97% 12px;
                    width: 100%;
                    font-size: 1.2rem;
                    background-size: 11px;
                    border: 0;
                    padding: 5px;
                    font-family: $font;
                    margin-right: 6px;
                    border: 1px solid #ccc;
                    color: #333;
                    &:focus {
                        border: 1px solid #777;
                        background-color: #fff;
                    }
                }
            }
        }
        fieldset:last-child {
            width: 45%;
            float: left;
            margin-left: 5%;
        }
    }
    fieldset.payment {
        border: 1px solid #ccc;
        font-size: 0.9rem;
        h3 {
            font-size: 0.9rem;
            color: #333;
            background: #FFFEED;
            padding: 15px;
            border-bottom: 1px solid #ecebd3;
            margin-bottom: 0;
        }
        p.error {
            background: image-url('error.svg') #fff5f5 no-repeat 15px 15px;
            background-size: 16px;
            border-bottom: 1px solid #EFCECE;
            padding: 15px 40px;
            color: #dd2828;
            margin: 0;
        }
        dl {
            margin: 30px 0;
            dt {
                width: 30%;
                text-align: right;
                float: left;
                padding-top: 8px;
                font-weight: bold;
            }
            dd {
                margin-left: 35%;
                margin-bottom: 25px;
                input {
                    width: 300px;
                    font-family: $font;
                    padding: 5px;
                    font-size: 1.3rem;
                    border: 1px solid #ccc;
                    background: #f8f8f8;
                    border-radius: 4px;
                }
                input:focus {
                    border-color: #777;
                    background: #fff;
                }
                &.cvc input {
                    width: 70px;
                }
                &.number input {
                    background-repeat: no-repeat;
                    background-position: 95% 10px;
                    background-size: 30px;
                }
                span {
                    color: #999;
                    font-size: 0.9rem;
                    margin-left: 15px;
                }
                select {
                    -webkit-appearance: none;
                    background: image-url('down-arrow-black.svg') #efefef no-repeat 39px 15px;
                    width: 60px;
                    font-size: 1.3rem;
                    background-size: 11px;
                    border: 0;
                    padding: 6px 10px;
                    font-family: $font;
                    margin-right: 6px;
                    border: 1px solid #ccc;
                    color: #333;
                    &:focus {
                        border: 1px solid #777;
                        background-color: #fff;
                    }
                    &.year {
                        width: 85px;
                        background-position: 60px 15px;
                    }
                }
            }
        }
    }
}

//
// order items
//
table.orderItems {
    width: 100%;
    font-size: 0.8rem;
    margin: 25px 0;
    thead td {
        border: 0;
        color: #999;
        padding: 0 10px;
        padding-bottom: 6px;
    }
    th,
    td {
        border: 1px solid #ccc;
        padding: 10px;
    }
    td.money {
        text-align: right;
        width: 12%;
        font-weight: normal;
    }
    td.quantity {
        width: 15%;
        span {
            float: right;
        }
        a {
            opacity: 0.3;
            width: 16px;
            height: 16px;
            display: inline-block;
            text-indent: -40000px;
            background: image-url('up.svg');
            background-size: 16px;
        }
        a:last-child {
            background: image-url('down.svg');
        }
        a:hover {
            opacity: 1
        }
    }
    td.product {
        a.delete {
            float: right;
            opacity: 0.3;
            width: 16px;
            height: 16px;
            display: inline-block;
            text-indent: -40000px;
            background: image-url('close.svg');
            background-size: 16px;
        }
        a.delete:hover {
            opacity: 1
        }
    }
    tfoot td {
        text-align: right;
        font-weight: bold;
    }
}

// Specials
.specials {
    box-shadow: 1px 2px 6px 0px #888888;
    margin-bottom: 0.9375rem;
    padding: 0.9375rem;
    height: 215px;
    position: relative;
    &:hover {
        background: $gray-lighter;
    }
    img {
        position: absolute;
        right: 0;
        top: 0;
    }
    span {
        font-size: 0.85rem;
    }
    p.info {
        height: 80px;
        width: 55%;
    }
    span,
    h3 {
        color: $blue;
    }
    div.price {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0 -0.9375rem;
    }
    &.green {
        span,
        h3 {
            color: $green;
        }
        p.price {
            background: $green;
        }
    }
    &.purple {
        span,
        h3 {
            color: $purple-dark;
        }
        p.price {
            background: $purple-dark;
        }
    }
    p.price {
        padding: 10px 20px;
        width: 50%;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        background: $blue;
        margin: 0;
        &.new {
            z-index: 0;
            color: $magento;
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

// Helpers
//
.green-border {
    box-shadow: 0px 0px 0px 4px $green inset;
    border-radius: $border-radius;
    padding: 3px;
}

// Sidebar
//
section.sidebar {
    ul#sidebar {
        padding: 15px 25px;
        margin: 1px;
        background-color: #fff;
        position: relative;
    }
    ul#sidebar li {
        list-style: none;
        a {
            font-weight: 600;
            line-height: 2rem;
            color: black;
        }
        a.active,
        a:hover {
            color: $purple-dark;
        }
        a.active:after,
        a:hover:after {
            position: absolute;
            right: 25px;
            content: '❯';
        }
    }
    ul.sidebar-categories {
        li+li:before {
            content: '';
            height: 1px;
            background: $gray;
            display: block;
        }
    }
    ul#sidebar-params {
        padding: 30px 25px;
        border-top: 1px solid $gray;
        margin: 0 1px;
        a {
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            text-align: left;
            line-height: 16px;
        }
        span {
            font-size: 13px;
            font-weight: bold;
            color: #00995b;
            text-align: left;
            line-height: 16px;
        }
        ul {
            margin-bottom: 15px;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: bold;
        color: #00995b;
        text-transform: uppercase;
    }
    h4 {
        font-size: 14px;
        color: #090909;
        font-weight: bold;
        text-transform: uppercase;
    }
    div.basket {
        background: image-url('bag.svg') #DFF0F1 no-repeat 18px 18px;
        background-size: 14px;
        color: #216D74;
        font-size: 0.8rem;
        line-height: 1.6;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 25px;
        padding: 15px;
        padding-left: 50px;
        p.buttons {
            margin-top: 15px;
            a {
                display: inline-block;
                padding: 2px 7px;
                background: #226E75;
                color: #fff;
                text-decoration: none;
                border-radius: 4px;
                margin-right: 4px;
                &.checkout {
                    background: #333;
                }
            }
        }
    }
    .checkout {
        background: #efefef;
        padding: 15px 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h2 {
            font-size: 1.4rem;
            color: #216D74;
            margin-top: 25px;
        }
        dl {
            font-size: 0.8rem;
            margin: 30px 0;
            line-height: 1.5;
            dt {
                font-weight: bold;
                margin: 10px 0;
            }
            dd {
                margin-bottom: 30px;
            }
        }
    }
}

//
// Footer
//
footer {
    padding-bottom: 30px;
}

footer.main > .container {
    width: 70%;
    color: #53686B;
    background: #D0D1D5;
    font-size: 1rem;
    margin: 0 auto;
    padding: 15px 10px;
    overflow: hidden;
    clear: both;
    box-shadow: 0px 3px 5px #888888;
    font-weight: 600;
    a {
        color: #616168;
    }
    ul.links {
        display: flex;
        justify-content: center;
        line-height: 1.8;
        color: #97AEB2;
        li {
            color: #66676D;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        li+li:before {
            content: '|';
            margin: 0 5px;
        }
    }
    div.callUs {
        // width:40%;
        p.number {
            color: #fff;
            font-size: 2.2rem;
            font-weight: bold;
            margin: 2px 0;
        }
        ul.social {
            margin-top: 25px;
            overflow: hidden;
            li {
                float: left;
                margin-right: 15px;
            }
            li a {
                display: block;
                width: 24px;
                height: 24px;
                text-indent: -40000px;
                opacity: 0.3;
                background-size: 24px;
                &:hover {
                    opacity: 0.7;
                }
            }
            li.facebook a {
                background-image: image-url('social/facebook.svg')
            }
            li.twitter a {
                background-image: image-url('social/twitter.svg')
            }
            li.pinterest a {
                background-image: image-url('social/pinterest.svg')
            }
            li.linkedin a {
                background-image: image-url('social/linkedin.svg')
            }
            li.youtube a {
                background-image: image-url('social/youtube.svg')
            }
            li.vimeo a {
                background-image: image-url('social/vimeo.svg')
            }
        }
    }
    div.copyright {
        color: #999999;
        font-size: 0.7rem;
        line-height: 1.5;
        margin: 5px 0 10px;
    }
}

div.overlay {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 4000px;
    background: rgba(0, 0, 0, 0.3);
}

nav.sidebar header.logo h1 a {
    background: none;
}


/* Products */

// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.sidebar header.logo h1 a {
    background: none !important;
}

.hidden {
    display: none
}

a.add,
.btn.add {
    background: #FFBE60;
    background-image: -webkit-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -moz-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -ms-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -o-linear-gradient(top, #FFBE60, #DE610B);
    background-image: linear-gradient(to bottom, #FFBE60, #DE610B);
}

// Attached images slider //
.product-slider-box {
    width: 375px;
    padding: 300px 15px 15px;
    border-right: 2px $gray solid ;
    .small {
        color: $gray;
        font-weight: 600;
        margin-top: 10px;
    }
    hr {
    margin: 1rem -15px;
    height: 2px;
    border-top: 2px solid #ccc;
    border-color: #ECECEC;
    }
}
.product-slider {
    display: flex;
    justify-content: space-between;

    > img {
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.25s;
    }
    input[name='slide_switch'] {
        display: none;
    }
    label {
        border: 2px solid #ECECEC;
        background: #fff;
        cursor: pointer;
        transition: all 0.25s;
        opacity: 0.6;
        width: 30%;
        height: 100px;
        img {
            display: block;
        }
    }
    input[name='slide_switch'] {
        &:checked {
            + label {
                border-color: $green;
                opacity: 1;
            }
            + label + img {
                opacity: 1;
                object-fit: contain;
            }
        }
        ~ img {
            height: auto;
            max-height: 290px;
            opacity: 0;
            width: 100%;
        }
    }
}

// TABS //
.tabs [id^="tab"]:checked + label {
    background: linear-gradient(to bottom, $purple, $purple-dark);
    color: white;
    span {
        text-decoration: none;
    }
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
    display: block;
}

.tabs {
    float: none;
    list-style: none;
    margin-top: 2rem;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display: none;
}

.tabs label {
    display: block;
    float: left;
    color: #3498db;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0 15px;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    /* Safari 3.1 to 6.0 */
    transition: all 0.2s;
}

.tabs label span {
    display: none;
    text-decoration: underline;
}

.tabs label i {
    padding: 5px;
    margin-right: 0;
}

.tabs label:hover {
    color: #3498db;
}

.tab-content {
    display: none;
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #ffffff;
    min-height: 150px;
}

.tab-content * {
    -webkit-animation: scale 0.2s ease-in-out;
    -moz-animation: scale 0.2s ease-in-out;
    animation: scale 0.2s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
}

span.yellow {
    display: none;
    color: $yellow;
    font-size: 1.35rem;
    margin-left: 25%;
    float: left;
}

span.gray {
    display: none;
    color: $gray;
    font-size: 1.35rem;
    float: left;
}

span.material {
    clear: left;
    width: 136px;
    height: 40px;
    display: block;
    background-repeat: no-repeat !important;
    margin-bottom: 5px;
}

span.j130 {
    background: image-url('mat130j.png');
}

span.s130 {
    background: image-url('mat130s.png');
}

span.j150 {
    background: image-url('mat150j.png');
}

span.s150 {
    background: image-url('mat150s.png');
}

//
// product page
//
div.product {
    .img {
        width: 30%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .product-info {
        min-height: 300px;
        box-shadow: 0px 0px 10px #DAD5D5;
        flex-direction: row;
        display: flex;
        background: #fff;
        justify-content: space-between;
        margin: 0;
        .intro > p {
            display: inline-block;
            min-width: 100%;
        }
        span.material {
            margin: 5px 0;
        }
    }
    .product-tabs {
        box-shadow: 0px 0px 10px #DAD5D5;
        padding: 15px;
    }
    h2 {
        font-size: 1.7rem;
        float: left;
        font-weight: bold;
    }
    .intro {
        width: 75%;
        padding: 15px;
        font-size: 0.8em;
        color: #333;
        line-height: 1.5;
    }
    hr {
        clear: both;
        border-color: $gray;
    }
    .stock {
        float: left;
        margin: 0 15px 15px;
        p.yes {
            color: white;
            font-size: 1em;
            background: $green;
            // image-url('tick.svg') no-repeat 0 3px;
            background-size: 13px;
            padding: 5px 20px;
            font-weight: 600;
            border-radius: 15px;
        }
        p.no {
            color: black;
            font-size: 1em;
            background: $gray;
            background-size: 13px;
            padding: 5px 20px;
            font-weight: 600;
            border-radius: 15px;
        }
    }
    table.variants {
        width: 100%;
        margin: 15px 0;
        font-size: 0.8rem;
        @include border-radius($radius);
        tr {
            border: 1px solid $gray-light;
            background: #fff;
        }
        tr:first-child {
            background: $gray;
        }
        select {
            padding: 0.2rem;
            background: #fff;
        }
        td {
            line-height: 1rem;
            font-weight: 600;
            padding: 15px 10px;
            vertical-align: middle;
        }
        td.buy {
            width: 170px;
            font-size: 0.8rem;
        }
        td h4 {
            font-size: 1.2em;
            color: black;
        }
        td p {
            font-weight: 600;
        }
        td form {
            input {
                border: 0;
                font-family: $font;
                height: 24px;
                padding: 4px 12px;
                color: #fff;
                border-radius: 4px;
                font-weight: bold;
                font-size: 0.9em;
                margin-left: 4px;
            }
            select {
                -webkit-appearance: none;
                background: image-url('down-arrow.svg') #fff no-repeat 25px 15px;
                width: 40px;
                background-size: 9px;
                height: 36px;
                font-weight: bold;
                padding: 10px;
                font-family: $font;
            }
            .btn {
                float: right;
            }
            &.no-stock {
                select {
                    background-color: #efefef;
                    background-image: image-url('down-arrow-grey.svg');
                    color: #ccc;
                }
                input {
                    background: #ddd
                }
            }
        }
    }
    div.optionsBox {
        .top {
            overflow: hidden;
            p.price {
                width: 45%;
                float: left;
                font-size: 1.3em;
                font-weight: bold;
            }
            form {
                margin-left: 50%;
                input {
                    float: right;
                    background: #256D73;
                    border: 0;
                    font-family: $font;
                    height: 24px;
                    padding: 4px 12px;
                    color: #fff;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 0.9em;
                    margin-left: 4px;
                }
                select {
                    -webkit-appearance: none;
                    background: image-url('down-arrow.svg') #DEE9EB no-repeat 24px 11px;
                    width: 40px;
                    background-size: 7px;
                    border: 0;
                    height: 24px;
                    font-weight: bold;
                    padding: 4px 10px;
                    font-family: $font;
                    color: #256D73;
                }
                &.no-stock {
                    select {
                        background-color: #efefef;
                        background-image: image-url('down-arrow-grey.svg');
                        color: #ccc;
                    }
                    input {
                        background: #ddd
                    }
                }
            }
        }
        .bottom {
            overflow: hidden;
            margin-top: 15px;
            .stock {
                float: left;
                width: 45%;
                p.yes {
                    color: #5DBCC4;
                    font-size: 1.1em;
                    background: image-url('tick.svg') no-repeat 0 3px;
                    background-size: 13px;
                    padding-left: 18px;
                }
                p.no {
                    color: #c04a4a;
                    font-size: 1.1em;
                    background: image-url('unhappy.svg') no-repeat 0 3px;
                    background-size: 13px;
                    padding-left: 18px;
                }
                p.time {
                    margin-top: 5px;
                    color: #888;
                    b {
                        color: #333;
                    }
                    font-size:0.9em;
                    line-height:1.5;
                }
            }
            div.links {
                margin-left: 50%;
                font-size: 0.9em;
                line-height: 2.0;
                ul li.item {
                    background: image-url('datasheet.svg') no-repeat 0 3px;
                    background-size: 16px;
                    padding-left: 22px;
                }
                ul li.item.box {
                    background-image: image-url('box.svg');
                    background-size: 14px;
                    background-position: 0 4px;
                }
                ul li.item.ask {
                    background-image: image-url('question.svg');
                    background-size: 14px;
                    background-position: 0 5px;
                }
                ul li.item a {
                    text-decoration: none;
                }
                ul li.item a:hover {
                    text-decoration: underline;
                    color: #256D73;
                }
                div.in_the_box {
                    display: none;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.98);
                    margin-left: -35px;
                    z-index: 100;
                    width: 300px;
                    padding: 15px 25px;
                    border-radius: 6px;
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                    h3 {
                        font-size: 1.3em;
                        border-bottom: 1px solid #333;
                        margin-bottom: 15px;
                        background: image-url('box.svg') no-repeat 0 8px;
                        background-size: 16px;
                        padding-left: 26px;
                    }
                    ul {
                        li {
                            list-style: square;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
    table.attributes {
        width: 100%;
        tr {
            line-height: 2.5rem;
        }
        tr + tr {
            border-top: 2px solid $gray;
            padding: 6px;
        }
        th {
            text-align: left;
            width: 30%;
        }
    }
    div.description {
        font-size: 0.9em;
        line-height: 1.7;
        p,
        ul,
        ol,
        blockquote,
        pre {
            margin: 15px 0;
        }
        ul,
        ol {
            margin-left: 25px;
        }
        ul li {
            list-style: disc;
        }
        pre {
            background: #f7f7f7;
            padding: 15px;
            border: 1px solid #ddd;
        }
    }
}

//tab-contents
.tab-content {
    ol {
        float: left;
        display: block;
        list-style: none;
        overflow: hidden;
        counter-reset: numList;
    }
    ol li {
        display: flex;
        align-items: center;
        padding: 15px 0;
        position: relative;
        position: relative;
        font-weight: 600;
    }
    ol li:before {
        counter-increment: numList;
        content: counter(numList);
        margin-right: 30px;
        padding: 6px 7px;
        line-height: 1rem;
        font-size: 1.3rem;
        text-align: center;
        color: $green;
        width: 2rem;
        height: 2rem;
        border: 3px solid $green;
        -moz-border-radius: 999px;
        border-radius: 999px
    }
    ol li:not(:last-child):after {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #dedede;
        clear: both;
        content: '';
        display: block;
        width: 100%;
    }
    li > p {
        line-height: 1.5rem;
        float: left;
        min-width: 145px;
    }
    li > p+p {
        margin: 0;
        font-weight: 500;
    }
}

.tech-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    > img {
        margin-right: 30px;
    }
    .tech-item-info {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

.tech-item + .tech-item {
    border-top: 1px solid $gray;
}

//
// Products list
//

    .price {
            color: $magento;
    font-weight:bold;
        font-size: 1.1rem;
        &.bad {
                    text-decoration: line-through;
        color: #222;
            font-size: 0.9rem;
        }
    }



/* Comments */

.rating {
    clear: both;
    .star-gold {
        display: inline-block;
        height: 14px;
        width: 14px;
        background: image-url('star-gold.svg') 0 0 no-repeat;
    }
    .star-gray {
        display: inline-block;
        height: 14px;
        width: 14px;
        background: image-url('star-gray.svg') 0 0 no-repeat;
    }
}
