// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.sidebar header.logo h1 a {
    background: none !important;
}

a.add,
.btn.add {
    background: #FFBE60;
    background-image: -webkit-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -moz-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -ms-linear-gradient(top, #FFBE60, #DE610B);
    background-image: -o-linear-gradient(top, #FFBE60, #DE610B);
    background-image: linear-gradient(to bottom, #FFBE60, #DE610B);
}

// //
ul.products hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 -10px;
}

// TABS //
.tabs [id^="tab"]:checked + label {
    background: linear-gradient(to bottom, $purple, $purple-dark);
    color: white;
    span {
        text-decoration: none;
    }
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
    display: block;
}

.tabs {
    float: none;
    list-style: none;
    margin-top: 15px;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display: none;
}

.tabs label {
    display: block;
    float: left;
    color: #3498db;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0 15px;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    /* Safari 3.1 to 6.0 */
    transition: all 0.2s;
}

.tabs label span {
    display: none;
    text-decoration: underline;
}

.tabs label i {
    padding: 5px;
    margin-right: 0;
}

.tabs label:hover {
    color: #3498db;
}

.tab-content {
    display: none;
    width: 100%;
    float: left;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    min-height: 150px;
}

.tab-content * {
    -webkit-animation: scale 0.2s ease-in-out;
    -moz-animation: scale 0.2s ease-in-out;
    animation: scale 0.2s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
}

//tab-contents
.tab-content {
    ol {
        display: block;
        padding: 0 0 0 26px;
        list-style: none;
        overflow: hidden;
        counter-reset: numList;
    }
    ol li {
        margin-left: 20px;
        line-height: 2.5rem;
        position: relative;
        font-weight: 600;
    }
    ol li:before {
        counter-increment: numList;
        content: counter(numList);
        float: left;
        position: absolute;
        left: -45px;
        top: 4px;
        font-size: 1.3rem;
        text-align: center;
        color: $green;
        line-height: 1.8rem;
        width: 2rem;
        height: 2rem;
        border: 3px solid $green;
        -moz-border-radius: 999px;
        border-radius: 999px
    }
}

.tech-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    > img {
        margin-right: 30px;
    }
    .tech-item-info {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

.tech-item + .tech-item {
    border-top: 1px solid $gray;
}
