// Slider 2
.slider {
    height: 370px;
    overflow: hidden;
    background: $purple-dark 50% 50%;
    position: relative;
    input {
        display: none;
    }
    > ul {
        height: $slider-height;
        overflow: hidden;
    }
}

.slide * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slide-container {
    height: $slider-height;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 0;
    animation: 40s slidy infinite;
}

.slide {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0);
    transition: all .7s ease-in-out;
    & .slide-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        color: #fff;
    }
    & h2 {
        font-size: 5rem;
        font-weight: bold;
    }
    & img {
        height: $slider-height;
        width: auto;
    }
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

figcaption.controls {
    height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
    line-height: 2rem;
    label {
        margin-right: 15px;
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    @media screen and (max-width: 500px) {
        font-size: 1.2rem;
    }
}