- active_nav_item :catalogue
- @page_title = "#{params[:value]} - Products"
.category
  %h2 Товары
  %p.intro Отображение товаров где <b>#{params[:key]}</b> указан как <b>#{params[:value]}</b>.
  - if @products.empty?
    %p.noProducts Товаров соответствующих данному фильтру не найдено
  - else
    = render 'shared/product_list', :products => @products
