- active_nav_item :catalogue
- @page_title = @product_category.name
.content
  .row
    .col-md-12
      =image_tag "categories-banner.png", :class => "categories-banner"
  .row.mt-1
    .col-md-3.col-xs-12
      = render 'shared/category_sidebar'
    .category.col-md-9.col-xs-12
      %h2= @product_category.name
      - unless @product_category.description.blank?
        %p.intro= @product_category.description
      - if @products.empty?
        %p.noProducts Товаров в данной категории не найдено
      - else
        = render 'shared/product_list', :products => @products