- @page_title = t('shopr.comments.comments')
= content_for :header do
  %h2.products= t('shopr.comments.comments')

- if @comments.present?
  = render partial: 'comment', collection: @comments, as: :comment, locals: { product: @product }
- else
  %h3= 'Для данного товара нет отзывов'